*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

body{
    background-color: #ccc;
}
.apply_section{
    max-width: 600px;
    padding: 60px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px ;
    border-radius: 10px;
}

.title{
    font-size: 20px;
}